<!DOCTYPE html>
<html lang="en">

<head>
    <title>Verticillium</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> <%= pageTitle %> | <%= siteTitle %> </title>

    <link rel="stylesheet" href="https://2019.igem.org/Template:Tec-Chihuahua/BootstrapCSS?action=raw&ctype=text/css">

</head>

<body id="top" onresize="UpdateResponsive()" style="top : -3rem">
<style>
#sideMenu {
    display: none;
}
p{
    font-size: 2rem;
}
#sideMenu,
#top_title,
.patrollink {
    display: none;
}

#content,
#HQ_page {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-size: 100% !important;
}
#mw-content-text:last-child{
    margin-bottom: 0;
}
#content {
    margin-top: -4rem;
    overflow-y: hidden;
}
#globalWrapper{
    padding-bottom: 0;
}
#globalWrapper,
#content,
#HQ_page,
#bodyContent,
#mw-content-text {
    height: 100%;
    width: 100%;
    
}
#HQ_page p{
    font-size: 1.7rem;
}

.mw-body{
    overflow-x: hidden;
}

@font-face {
    font-family: headerFont;
    src: url(https://2019.igem.org/wiki/images/6/60/T--Tec-Chihuahua--cove.otf)
}

@font-face {
    font-family: vapoFont;
    src: url(https://2019.igem.org/wiki/images/6/64/T--Tec-Chihuahua--cove_light.otf)
}

@font-face {
    font-family: Roboto;
    src: url(https://2019.igem.org/wiki/images/a/a4/T--Tec-Chihuahua--roboto_light.ttf) format(truetype)
}
.warning-content{
    font-size: 2em;
}
</style>

    <link rel="stylesheet" href="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/NavBarStylesCSS&action=raw&ctype=text/css">


    <%- partial("partial/_header") %>

    <%- yield %>

    <%- partial("partial/_footer") %>



    <script src="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/JQuery&action=raw&ctype=text/javascript"></script>
    <script src="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/Popper&action=raw&ctype=text/javascript"></script>
    <script src="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/Boostrap_js&action=raw&ctype=text/javascript"></script>
   
    <script src="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/safety_js&action=raw&ctype=text/javascript"></script>
 <script src="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/script_js&action=raw&ctype=text/javascript"></script>

</body>

</html>